header{
    height: 100px;
    background-color: #b2d6ff;

}

aside{
    height: 500px;
    background-color: #f09a9d;
}

main{
    height: 500px;
    background-color: #f5cf8e;
}

footer{
    background-color: d6e9fe;
}



    
