*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.product{
    width: 350px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 10px 10px;
    border-radius: 30px;
}



.product-image img{
    height: 100%;
    width: 100%;
    
    border-radius: 10px;
}

.product-content{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 15px;
}

.product-title,.product-description{
    font-family: 'Outfit', sans-serif;
}

.product-title{
    
    color: hsl(218, 44%, 22%);
    font-size:20px;
    display: flex;
    justify-content: center;
    line-height: 1.5;
    text-align: center;
    margin: px;
}

.product-description{
    
    text-align: center;
    cursor: default;
    margin: 20px;
    color: hsl(220, 15%, 55%);
    
}
