*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    color: #fff;
    background-color: #599fda;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}


.menu{
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.links{
    display: flex;
    gap: ;
}