*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.qrcode{
    width: 375px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
}

.qrcode-img{
    display: flex;
    margin: 0px;
 
}
.qrcode-img img{
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius:30px ;
}

.description{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px;
}

.header{
    margin-top: -40px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.instruction{
    margin-top: 20px;
    font-weight: 400;
    color: hsl(220, 15%, 55%)
    
}