*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container{
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product{
    width: 600px;
    background-color: white;
    display: flex;
}

.product-image img{
    width:100%;
}

.product-container{
    padd
}