*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container{
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
}

.product{
    width: 400px;
    background-color: white;
}