* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #8E8BE7;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;    
}

.timer-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-controls {
    display: flex;
}

.timer-button {
    background: none;
    border: 0;
    cursor: ;
}