* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: powderblue;
    font-size: 10px;
    font-family: 'Inconsolata', monospace;
}

.timer-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-controls {
    display: flex;
}

.timer-button {
    background: none;
    border: 0;
    cursor: pointer;
    color: #000;
    font-size: 2em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1em;
    font-family: 'Inconsolata', monospace;
}

.timer-button:hover {
    background: rgba(0, 0, 0, 0.2);
}

.timer-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-left {
    font-size: 15em;
    /* font-family: 'Inconsolata', monospace; */
    color: #000;
    text-shadow: 4px 5px 0 rgba(0, 0, 0, 0.1);
}

.end-time {
    font-size: 2.3em;
    color: #000;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.1);
}
